<html><head><meta charset='utf-8'><meta name='viewport' content='width=device-width, initial-scale=1'>
<meta name='applicable-device' content='pc'><meta name='keywords' content='电脑,电脑讲解,电脑技术,编程,电脑故障维修vue-learning：1 - 为什么选择vue' />
<script src='../../highlight/highlight.pack.js'></script>
<link rel='stylesheet' type='text/css' href='../../highlight/styles/monokai.css'/>

<link rel='stylesheet' href='../../fenxiang/dist/css/share.min.css'>
<script src='../../fenxiang/src/js/social-share.js'></script>
<script src='../../fenxiang/src/js/qrcode.js'></script>

</head><body><script>hljs.initHighlightingOnLoad();</script><script>
var system ={};  
var p = navigator.platform;       
system.win = p.indexOf('Win') == 0;  
system.mac = p.indexOf('Mac') == 0;  
system.x11 = (p == 'X11') || (p.indexOf('Linux') == 0);     
if(system.win||system.mac||system.xll){
document.write("<link href='../css/3.css' rel='stylesheet' type='text/css'>");}else{ document.write("<link href='../css/3wap.css' rel='stylesheet' type='text/css'>");}</script><script src='../../js/3.js'></script><div class='div2'><div class='heading_nav'><ul><div><li><a href='../../index.html'>首页</a></li>
</div><div onclick='hidden1()' >分享</div>
</ul></div></div>
<div id='heading_nav2'> 
<li class='row' >
<div class='social-share' data-mode='prepend'><a href='javascript:' class='social-share-icon icon-heart'></a></div></li></div><script charset='utf-8' src='../../3/js/hengfu.js'></script><script charset='utf-8' src='../../3/js/hengfu2.js'></script><hr><div class='div1'><div class='biaoti'><center>vue-learning：1 - 为什么选择vue</center></div><div class='banquan'>原文出处:本文由博客园博主无退路只能勇往直前提供。<br/>
原文连接:https://www.cnblogs.com/webxu20180730/p/10890219.html</div><br>
    <h2 id="为什么选择vue">为什么选择Vue</h2>
<p>通过一个对比，展示<code>vue</code>框架的优势：</p>
<p>需求：根据请求后端接口返回的数据列表，渲染在页面中。</p>
<p>传统上我们使用<code>jQuery</code>的<code>Ajax</code>发送<code>http</code>请求，获取数据。判断列表数据是否存在，如果不存在，显示一条提示信息；如果存在，则显示出来。</p>
<pre><code><code>    &lt;ul class=&quot;js-data&quot;&gt;&lt;/ul&gt;</code></pre>
<pre class="js"><code>    &lt;script&gt;
        $(document).ready(function () {
            $.get(&quot;https://example.com/api/data&quot;)
                .then( function (res) {
                    var $ul = $(&quot;.js-data&quot;)

                    if (!res.data.length) {
                        var $noItem = $(&quot;&lt;li&gt;&quot;)
                        $noLi.text(&quot;sorry, there are no data&quot;)
                        $ul.append($noItem)
                    } else {
                        res.data.forEach( function (item) {
                            var $li = $(&quot;&lt;li&gt;&quot;).text(item)
                            $ul.append($li)
                        })
                    }
                })
        })
    &lt;/script&gt;</code></pre>
<p><a href="https://jsrun.net/xEXKp/edit">DEMO 1-1 jQuery create list</a></p>
<pre><code><code>jQuery 这段代码执行了以下逻辑：
    1. 使用$.get()发起Ajax，获得数据列表；
    2. 获得要挂载列表的ul元素；
    3. 如果请求响应的结果中没有数据，则创建一个li元素，显示一段提示文本；
    4. 如果有数据，则遍历每一个数据项目，将数据内容添加至li元素中；
    5. 并将li元素挂载到ul元素上。</code></pre>
<p>在这个例子js中，我们不仅要处理数据（请求数据，并判断响应的数据是否存在），还要处理视图中的DOM元素（创建li元素，并挂载到ul元素中）。</p>
<p>下面我们用VUE框架来处理上面的需求</p>
<pre><code><code>    &lt;ul class=&quot;js-items&quot;&gt;
        &lt;li v-if=&quot;!items.length&quot;&gt;sorry, thert are no data&lt;/li&gt;
        &lt;template v-else&gt;
            &lt;li v-for=&quot;item in items&quot;&gt;{{ item }} &lt;/li&gt;
        &lt;/template&gt;
    &lt;/ul&gt;</code></pre>
<pre class="js"><code>    &lt;script&gt;
        new Vue({
            el: &quot;.js-items&quot;,
            data: {
                items: []
            },
            created() {
                fetch(&quot;https://example.com/api/data&quot;)
                    .then(res = &gt; {
                        this.items = res.data.items
                    })
            }
        })
    &lt;/script&gt;</code></pre>
<p><a href="https://jsrun.net/tEXKp/edit">DEMO 1-1 Vue create list</a></p>
<pre><code><code>VUE 这段代码执行了以下逻辑：
    1. 使用fetch()发起了一个Ajax请求；（当然也可以用其它请求API，如axios)
    2. 将返回数据赋值给data对象中的items属性</code></pre>
<p>在VUE这个例子中，我们只需要按VUE的语法写好HTML部分，然后在script中请求数据，并完成赋值，视图会自动更新，与上面jQuery呈现的页面完全一样。</p>
<p>在VUE这里，视图HTML部分和逻辑JS部分完全分开，只专注于各自的业务，我们不用在js中操作DOM，VUE框架的内部会自动帮我们处理。这就是MVVM模式，View（视图） 和 Model（数据） 分离，由框架核心ViewModel控制两者关联。</p>
<h2 id="vue的mvvm模型">Vue的MVVM模型</h2>
<blockquote>
<p>关于MVC / MVP / MVVM 理解可以查看<a href="http://www.ruanyifeng.com/blog/2015/02/mvcmvp_mvvm.html">阮一峰的blog</a><br />
<img src="./images/vue-learning：1 - 为什么选择vue0.png" /></p>
</blockquote>
<p>在web应用中，最底层最基础的结构是HTML / CSS / Javascript。分别处理页面的结构、样式、行为。</p>
<p>换个角度看，我们也可以把页面划分为视图层和逻辑层。视图层由HTML/CSS处理，逻辑层由JS处理。</p>
<p>按这样划分，我们学习的方向就是VUE框架是如何控制视图层显示，以及如何与逻辑层交互的。</p>
<p>VUE将视图层HTML抽象为一个模板template，作为VUE实例的template属性的值，模板中HTML元素通过指令directive来建立视图层view和viewModel的联系。<br />
VUE向视图层view提供API叫做指令<br />
VUE向逻辑层model提供的API包括data/methods/computed/watch/filter/component等等。</p>
<p><a href="https://jsrun.net/nEXKp/edit">DEMO 1-1 view / mode</a></p>
<blockquote>
<p>vue在template中实现视图逻辑，在js中实现业务逻辑</p>
</blockquote>
<p>上面的例子，我们也可以改为下面的写法，以便更好理解：</p>
<pre><code><code>    &lt;div id=&quot;app&quot;&gt;&lt;/div&gt;</code></pre>
<pre class="js"><code>    &lt;script&gt;
        new Vue({
            // 视图层view
            template: `&lt;ul class=&quot;js-items&quot;&gt;
                        &lt;li v-if=&quot;!items.length&quot;&gt;sorry, thert are no data&lt;/li&gt;
                        &lt;template v-else&gt;
                            &lt;li v-for=&quot;item in items&quot;&gt;{{ item }} &lt;/li&gt;
                        &lt;/template&gt;
                    &lt;/ul&gt;`,

            // 逻辑层model
            el: &quot;#app&quot;,
            data: {
                items: []
            },
            created() {
                fetch(&quot;https://example.com/api/data&quot;)
                    .then(res = &gt; {
                        this.items = res.data.items
                    })
            }
        })
    &lt;/script&gt;</code></pre>
<h2 id="vue-the-progressive-framework">Vue: The Progressive Framework</h2>
<p>vue 是一个渐近式框架</p>
<blockquote>
<p>参考《深入浅出Vue.js》第一章 p3</p>
</blockquote>
<p><strong>vue 的主要历史</strong></p>
<ul>
<li>2013年7月28日 尤雨溪在GitHub上提交第一个commit。此时还不叫<code>vue</code>，叫<code>Element</code>，后又更名为<code>Seed.js</code></li>
<li>2013年12月7日 发布<code>v 0.6.0</code>版，正式更名为<code>Vue.js</code>，并且把指令系统写法改为<code>v-</code>。这一版本代表<code>vue</code>正式问世</li>
<li>2015年10月26日 正式发布<code>v 1.0.0</code></li>
<li>2016年10月1日 国庆 发布<code>v 2.0.0</code></li>
</ul>
<p><strong>vue定位变化</strong></p>
<p>在最早期的<code>vue</code>只专注于视图层，没有路由，没有状态管理，也没有官方构建工具，只是一个库，相当一个新的视图模板库。</p>
<p>后来，为了适应不同应用场景，慢慢加入了一些官方辅助工具，如路由<code>Router</code>、状态管理<code>Vuex</code>等。<br />
但是在这个演变发展过程中，<code>vue</code>始终维持一个理念：”这个框架应该是<strong>渐近式</strong>的<br />
也就是<code>vue</code>的目前的定位：The Progressive Framework</p>
<p><strong>vue 渐近式框架的理解</strong></p>
<p>所谓渐近式框架，就是把框架分层。<br />
最核心的部分是视图渲染，然后往外是组件机制，在此基础上加入路由机制，加入状态管理，添加单元测试，使用构建工具等。除了核心部分，其它部分都可以根据项目应用的需求添加，不是必需的。</p>
<p>用一张图理解渐近式的概念<br />
<img src="./images/vue-learning：1 - 为什么选择vue1.png" alt="vue 渐近式框架的理解" /></p>
<h4 id="本节是-vue-learning系列-的开篇对核心部分的基础内容学习总结已经完成并发布点击下方链接可直达内容目录">本节是 <code>vue-learning系列</code> 的开篇，对核心部分的基础内容，学习总结已经完成并发布，点击下方链接可直达内容目录。</h4>
<h6 id="vue-learning系列核心部分学习总结"><a href="https://www.cnblogs.com/webxu20180730/p/10890261.html">vue-learning系列：核心部分学习总结</a></h6>

</div>
</div><hr><script charset='utf-8' src='../../js/sming.js'></script></body></html>