<html><head><meta charset='utf-8'><meta name='viewport' content='width=device-width, initial-scale=1'>
<meta name='applicable-device' content='pc'><meta name='keywords' content='电脑,电脑讲解,电脑技术,编程,电脑故障维修vue.js 学习笔记' />
<script src='../../highlight/highlight.pack.js'></script>
<link rel='stylesheet' type='text/css' href='../../highlight/styles/monokai.css'/>

<link rel='stylesheet' href='../../fenxiang/dist/css/share.min.css'>
<script src='../../fenxiang/src/js/social-share.js'></script>
<script src='../../fenxiang/src/js/qrcode.js'></script>

</head><body><script>hljs.initHighlightingOnLoad();</script><script>
var system ={};  
var p = navigator.platform;       
system.win = p.indexOf('Win') == 0;  
system.mac = p.indexOf('Mac') == 0;  
system.x11 = (p == 'X11') || (p.indexOf('Linux') == 0);     
if(system.win||system.mac||system.xll){
document.write("<link href='../css/3.css' rel='stylesheet' type='text/css'>");}else{ document.write("<link href='../css/3wap.css' rel='stylesheet' type='text/css'>");}</script><script src='../../js/3.js'></script><div class='div2'><div class='heading_nav'><ul><div><li><a href='../../index.html'>首页</a></li>
</div><div onclick='hidden1()' >分享</div>
</ul></div></div>
<div id='heading_nav2'> 
<li class='row' >
<div class='social-share' data-mode='prepend'><a href='javascript:' class='social-share-icon icon-heart'></a></div></li></div><script charset='utf-8' src='../../3/js/hengfu.js'></script><script charset='utf-8' src='../../3/js/hengfu2.js'></script><hr><div class='div1'><div class='biaoti'><center>vue.js 学习笔记</center></div><div class='banquan'>原文出处:本文由博客园博主张小中提供。<br/>
原文连接:https://www.cnblogs.com/zjz666/p/11115149.html</div><br>
    <p><strong style="color: #ff6600;"><span style="font-size: 18px;">Vue.js 的核心是一个允许采用简洁的模板语法来声明式地将数据渲染进 DOM 的系统</span></strong></p>
<p><span style="background-color: #888888; color: #000000;"><strong>核心思想是：数据驱动、组件系统。</strong></span></p>
<p>&nbsp;</p>
<div><strong><span style="font-size: 18px;">MVC和MVVM的区别?</span></strong></div>
<div><strong><strong><span style="font-size: 18px;">　　</span></strong></strong>
<div>
<div>　　MVVM即Model-View-ViewModel的简写。即模型-视图-视图模型。模型（Model）指的是后端传递的数据。视图(View)指的是所看到的页面。视图模型(ViewModel)是mvvm模式的核心，它是连接view和model的桥梁。它有两个方向：一是将模型（Model）转化成视图(View)，即将后端传递的数据转化成所看到的页面。实现的方式是：数据绑定。二是将视图(View)转化成模型(Model)，即将所看到的页面转化成后端的数据。实现的方式是：DOM 事件监听。这两个方向都实现的，我们称之为数据的双向绑定。</div>
<br />
<div>      　　MVC是Model-View- Controller的简写。即模型-视图-控制器。M和V指的意思和MVVM中的M和V意思一样。C即Controller指的是页面业务逻辑。使用MVC的目的就是将M和V的代码分离。MVC是单向通信。也就是View跟Model，必须通过Controller来承上启下。MVC和MVVM的区别并不是VM完全取代了C，只是在MVC的基础上增加了一层VM，只不过是弱化了C的概念，ViewModel存在目的在于抽离Controller中展示的业务逻辑，而不是替代Controller，其它视图操作业务等还是应该放在Controller中实现。也就是说MVVM实现的是业务逻辑组件的重用，使开发更高效，结构更清晰，增加代码的复用性。</div>
<div>&nbsp;</div>
<div>
<div><strong><span style="font-size: 18px;">vue双向绑定原理?</span></strong></div>
<div><strong><span style="font-size: 18px;">　　vue.js 则是采用数据劫持结合发布者-订阅者模式的方式，通过Object.defineProperty()来劫持各个属性的setter，getter，在数据变动时发布消息给订阅者，触发相应的监听回调。</span></strong></div>
<div>
<div class="cnblogs_code">
<pre><code><span style="color: #0000ff;">var</span> obj =<span style="color: #000000;"> {};
</span><span style="color: #0000ff;">var</span> demo = document.querySelector(<span style="color: #800000;">'</span><span style="color: #800000;">#demo</span><span style="color: #800000;">'</span><span style="color: #000000;">)
</span><span style="color: #0000ff;">var</span> inp = document.querySelector(<span style="color: #800000;">'</span><span style="color: #800000;">#inp</span><span style="color: #800000;">'</span><span style="color: #000000;">)
Object.defineProperty(obj, </span><span style="color: #800000;">'</span><span style="color: #800000;">name</span><span style="color: #800000;">'</span><span style="color: #000000;">, {
    </span><span style="color: #0000ff;">get</span><span style="color: #000000;">: function () {
        </span><span style="color: #0000ff;">return</span><span style="color: #000000;"> val;
    },
    </span><span style="color: #0000ff;">set</span>: function (newVal) { <span style="color: #008000;">//</span><span style="color: #008000;">当该属性被赋值的时候触发</span>
        inp.value =<span style="color: #000000;"> newVal;
        demo.innerHTML </span>=<span style="color: #000000;"> newVal;
    }
})
inp.addEventListener(</span><span style="color: #800000;">'</span><span style="color: #800000;">input</span><span style="color: #800000;">'</span><span style="color: #000000;">, function (e) {
    </span><span style="color: #008000;">//</span><span style="color: #008000;"> 给obj的name属性赋值，进而触发该属性的set方法</span>
    obj.name =<span style="color: #000000;"> e.target.value;
});
obj.name </span>= <span style="color: #800000;">'</span><span style="color: #800000;">fei</span><span style="color: #800000;">'</span>; <span style="color: #008000;">//</span><span style="color: #008000;">在给obj设置name属性的时候，触发了set这个方法</span></pre>
</div>
<p><strong><span style="font-size: 18px;">&nbsp;</span></strong></p>
<p><strong><span style="font-size: 18px;"><code>Object.defineProperty()</code></span></strong>&nbsp;方法会直接在一个对象上定义一个新属性，或者修改一个对象的现有属性， 并返回这个对象。</p>
</div>
<div>&nbsp;
<pre class="syntaxbox"><span style="font-size: 18px;"><code>Object.defineProperty(<var>obj</var>, <var>prop</var>, <var>descriptor</var>)<br /><br /><code>obj</code>要在其上定义属性的对象。<br /><code>prop</code>要定义或修改的属性的名称。<br /><code>descriptor</code>将被定义或修改的属性描述符。<br /></code></span></pre>
</div>
</div>
</div>
</div>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><span style="font-size: 18px;"><strong><span style="color: #000000;">11个生命周期函数</span></strong></span>&nbsp;</p>
<p><span style="font-size: 18px;"><strong>beforecreated：</strong></span>el 和 data 并未初始化 -------------在实例初始化之后，数据观测 (data observer) 和 event/watcher 事件配置之前被调用。</p>
<p><strong><span style="font-size: 18px;">created：</span></strong>完成了 data 数据的初始化，el没有 -----------在实例创建完成后被立即调用。在这一步，实例已完成以下的配置:数据观测 (data observer)，属性和方法的运算，watch/event 事件回调。然而，挂载阶段还没开始，$el 属性目前不可见。</p>
<p><strong><span style="font-size: 18px;">beforeMount：</span></strong>完成了 el 和 data 初始化 --------在挂载开始之前被调用:相关的 render 函数首次被调用。该钩子在服务器端渲染期间不被调用。</p>
<p><strong><span style="font-size: 18px;">mounted ：</span></strong>完成挂载--------el 被新创建的 vm.$el 替换，并挂载到实例上去之后调用该钩子。如果 root 实例挂载了一个文档内元素，当 mounted 被调用时 vm.$el 也在文档内。注意 mounted 不会承诺所有的子组件也都一起被挂载。如果你希望等到整个视图都渲染完毕，可以用 vm.$nextTick 替换掉 mounted：<br />          mounted: function () {<br />            this.$nextTick(function () {<br />              // Code that will run only after the<br />              // entire view has been rendered<br />            })<br />          }<br />          该钩子在服务器端渲染期间不被调用。&nbsp;</p>
<p><strong><span style="font-size: 18px;">  beforeUpdate：</span></strong>数据更新时调用，发生在虚拟 DOM 打补丁之前。这里适合在更新之前访问现有的 DOM，比如手动移除已添加的事件监听器。该钩子在服务器端渲染期间不被调用，因为只有初次渲染会在服务端进行。&nbsp;</p>
<p><strong><span style="font-size: 18px;">  updated：</span></strong>由于数据更改导致的虚拟 DOM 重新渲染和打补丁，在这之后会调用该钩子。当这个钩子被调用时，组件 DOM 已经更新，所以你现在可以执行依赖于 DOM 的操作。然而在大多数情况下，你应该避免在此期间更改状态。如果要相应状态改变，通常最好使用计算属性或 watcher 取而代之。注意 updated 不会承诺所有的子组件也都一起被重绘。如果你希望等到整个视图都重绘完毕，可以用 vm.$nextTick 替换掉 updated：<br />          updated: function () {<br />            this.$nextTick(function () {<br />              // Code that will run only after the<br />              // entire view has been re-rendered<br />            })<br />          }<br />          该钩子在服务器端渲染期间不被调用。</p>
<p>  <strong><span style="font-size: 18px;">activated：</span></strong>keep-alive 组件激活时调用。该钩子在服务器端渲染期间不被调用。&nbsp;</p>
<p><strong><span style="font-size: 18px;">  deactivated：</span></strong>keep-alive 组件停用时调用。该钩子在服务器端渲染期间不被调用。&nbsp;</p>
<p><strong><span style="font-size: 18px;">  beforeDestroy：</span></strong>实例销毁之前调用。在这一步，实例仍然完全可用。该钩子在服务器端渲染期间不被调用。&nbsp;</p>
<p><strong><span style="font-size: 18px;">  destroyed：</span></strong>Vue 实例销毁后调用。调用后，Vue 实例指示的所有东西都会解绑定，所有的事件监听器会被移除，所有的子实例也会被销毁。该钩子在服务器端渲染期间不被调用。</p>
<p>  <strong><span style="font-size: 18px;">errorCaptured：</span></strong>2.50版本新增   当捕获一个来自子孙组件的错误时被调用。此钩子会收到三个参数:   错误对象、发生错误的组件实例以及一个包含错误来源信息的字符串。此钩子可以返回 false 以阻止该错误继续向上传播。</p>
<p>&nbsp;</p>
<p><span style="font-size: 18px;"><strong>vue-cli 主要目录结构：</strong></span><br />      　　<span style="font-size: 18px;"><strong>index.html：</strong></span>一般只定义一个空的根节点，在main.js里面定义的实例将挂载在#app节点下，内容通过vue组件填充。<br />      　　<strong><span style="font-size: 18px;">src/  App.vue：</span></strong>是项目主组件，也是项目所有组件和路由的出口，之后它会被渲染到项目根目录的 index.html 中显示出来，我们可以在这里写一些适合全局的css样式。<br />      　　<strong><span style="font-size: 18px;">src/  main.js：</span></strong>入口文件，引入了vue模块和app.vue组件以及路由router，我们需要在全局使用的一些东西也可以定义在这里面。<br />      　　<strong><span style="font-size: 18px;">src/router  index.js：</span></strong>路由配置文件。</p>
<p>&nbsp;</p>
<p><strong><span style="font-size: 18px;">指令:</span> </strong><br />    <strong><span style="font-size: 18px;">v-bind</span></strong>  属性的绑定 简写  " : "<br />    <strong><span style="font-size: 18px;">v-if</span></strong>    控制一个元素是否显示(会对DOM进行创建和删除操作  有较高的切换性能消耗)  <br />    <strong><span style="font-size: 18px;">v-show</span> </strong> 控制一个元素是否显示（切换了元素的display:none/block;样式，有较高的初始渲染消耗）<br />    <strong><span style="font-size: 18px;">v-for</span></strong>   数据循环<br />    <strong><span style="font-size: 18px;">v-on</span></strong>     事件绑定 简写  " @ "<br />    <strong><span style="font-size: 18px;">v-model</span></strong> 数据的双向绑定</p>
<div class="cnblogs_code">
<pre><code>&lt;!DOCTYPE html&gt;
&lt;html lang=<span style="color: #800000;">"</span><span style="color: #800000;">en</span><span style="color: #800000;">"</span>&gt;
    &lt;head&gt;
        &lt;meta charset=<span style="color: #800000;">"</span><span style="color: #800000;">utf-8</span><span style="color: #800000;">"</span>&gt;
        &lt;title&gt;计算器&lt;/title&gt;
        &lt;script src=<span style="color: #800000;">"</span><span style="color: #800000;">https://cdn.jsdelivr.net/npm/vue</span><span style="color: #800000;">"</span>&gt;&lt;/script&gt;
    &lt;/head&gt;
    &lt;body&gt;
        &lt;div id=<span style="color: #800000;">"</span><span style="color: #800000;">app</span><span style="color: #800000;">"</span>&gt;
            &lt;input type=<span style="color: #800000;">"</span><span style="color: #800000;">text</span><span style="color: #800000;">"</span>  v-model=<span style="color: #800000;">"</span><span style="color: #800000;">first</span><span style="color: #800000;">"</span> /&gt;
            &lt;<span style="color: #0000ff;">select</span> v-model=<span style="color: #800000;">"</span><span style="color: #800000;">opt</span><span style="color: #800000;">"</span>&gt;
                &lt;option value=<span style="color: #800000;">"</span><span style="color: #800000;">+</span><span style="color: #800000;">"</span>&gt;+&lt;/option&gt;
                &lt;option value=<span style="color: #800000;">"</span><span style="color: #800000;">-</span><span style="color: #800000;">"</span>&gt;-&lt;/option&gt;
                &lt;option value=<span style="color: #800000;">"</span><span style="color: #800000;">*</span><span style="color: #800000;">"</span>&gt;*&lt;/option&gt;
                &lt;option value=<span style="color: #800000;">"</span><span style="color: #800000;">/</span><span style="color: #800000;">"</span>&gt;/&lt;/option&gt;
            &lt;/<span style="color: #0000ff;">select</span>&gt;
            &lt;input type=<span style="color: #800000;">"</span><span style="color: #800000;">text</span><span style="color: #800000;">"</span> v-model=<span style="color: #800000;">"</span><span style="color: #800000;">last</span><span style="color: #800000;">"</span> /&gt;
            &lt;input type=<span style="color: #800000;">"</span><span style="color: #800000;">button</span><span style="color: #800000;">"</span> value=<span style="color: #800000;">"</span><span style="color: #800000;">=</span><span style="color: #800000;">"</span> @click=<span style="color: #800000;">"</span><span style="color: #800000;">add</span><span style="color: #800000;">"</span>/&gt;
            &lt;input type=<span style="color: #800000;">"</span><span style="color: #800000;">text</span><span style="color: #800000;">"</span> v-model=<span style="color: #800000;">"</span><span style="color: #800000;">result</span><span style="color: #800000;">"</span> /&gt;
        &lt;/div&gt;
    &lt;/body&gt;
&lt;/html&gt;
&lt;script type=<span style="color: #800000;">"</span><span style="color: #800000;">text/javascript</span><span style="color: #800000;">"</span>&gt;
    <span style="color: #0000ff;">var</span> Vue = <span style="color: #0000ff;">new</span><span style="color: #000000;"> Vue({
        el:</span><span style="color: #800000;">"</span><span style="color: #800000;">#app</span><span style="color: #800000;">"</span><span style="color: #000000;">,
        data:{
            first:</span><span style="color: #800080;">0</span><span style="color: #000000;">,
            last:</span><span style="color: #800080;">0</span><span style="color: #000000;">,
            result:</span><span style="color: #800080;">0</span><span style="color: #000000;">,
            opt:</span><span style="color: #800000;">"</span><span style="color: #800000;">+</span><span style="color: #800000;">"</span><span style="color: #000000;">
        },
        methods:{
            add(){
                </span><span style="color: #0000ff;">var</span> jieguo = <span style="color: #800000;">"</span><span style="color: #800000;">parseInt(this.first)</span><span style="color: #800000;">"</span>+ <span style="color: #0000ff;">this</span>.opt + <span style="color: #800000;">"</span><span style="color: #800000;">parseInt(this.last)</span><span style="color: #800000;">"</span><span style="color: #000000;">;
                </span><span style="color: #0000ff;">this</span>.result=<span style="color: #000000;"> eval(jieguo);
            }
        }
    })
</span>&lt;/script&gt;</pre>
</div>
<p>&nbsp;</p>
<p><strong><span style="font-size: 18px;">v-cloak</span> </strong>使用v-cloak 能够解决插值表达式闪烁的问题<br />            　　[v-cloak] { display:none;}</p>
<p><br />    <strong><span style="font-size: 18px;">v-on</span></strong>  @  事件修饰符：<br />          　　<strong>.stop：</strong>等同于JavaScript中的event.stopPropagation()，防止事件冒泡<br />          　　<strong>.prevent</strong>：等同于JavaScript中的event.preventDefault()，防止执行预设的行为（如果事件可取消，则取消该事件，而不停止事件的进一步传播）<br />          　　<strong>.capture：</strong>与事件冒泡的方向相反，事件捕获由外到内<br />　　<strong>.self：</strong>只会触发自己范围内的事件，不包含子元素<br />          　　<strong>.once：</strong>只会触发一次</p>
<div class="cnblogs_code">
<pre><code>&lt;!DOCTYPE html&gt;
&lt;html lang=<span style="color: #800000;">"</span><span style="color: #800000;">en</span><span style="color: #800000;">"</span>&gt;
    &lt;head&gt;
        &lt;meta charset=<span style="color: #800000;">"</span><span style="color: #800000;">utf-8</span><span style="color: #800000;">"</span>&gt;
        &lt;title&gt;vue跑马灯&lt;/title&gt;
        &lt;script src=<span style="color: #800000;">"</span><span style="color: #800000;">https://cdn.jsdelivr.net/npm/vue</span><span style="color: #800000;">"</span>&gt;&lt;/script&gt;
    &lt;/head&gt;
    &lt;body&gt;
        &lt;div id=<span style="color: #800000;">"</span><span style="color: #800000;">app</span><span style="color: #800000;">"</span>&gt;
            &lt;input type=<span style="color: #800000;">"</span><span style="color: #800000;">button</span><span style="color: #800000;">"</span> value=<span style="color: #800000;">"</span><span style="color: #800000;">爱</span><span style="color: #800000;">"</span> @click=<span style="color: #800000;">"</span><span style="color: #800000;">love</span><span style="color: #800000;">"</span>/&gt;
            &lt;input type=<span style="color: #800000;">"</span><span style="color: #800000;">button</span><span style="color: #800000;">"</span> value=<span style="color: #800000;">"</span><span style="color: #800000;">不爱</span><span style="color: #800000;">"</span> @click=<span style="color: #800000;">"</span><span style="color: #800000;">anlove</span><span style="color: #800000;">"</span> /&gt;
            &lt;h4&gt;{{msg}}&lt;/h4&gt;
        &lt;/div&gt;
    &lt;/body&gt;
&lt;/html&gt;
&lt;script type=<span style="color: #800000;">"</span><span style="color: #800000;">text/javascript</span><span style="color: #800000;">"</span>&gt;
    <span style="color: #0000ff;">var</span> Vue = <span style="color: #0000ff;">new</span><span style="color: #000000;"> Vue({
        el:</span><span style="color: #800000;">"</span><span style="color: #800000;">#app</span><span style="color: #800000;">"</span><span style="color: #000000;">,
        data:{
            msg:</span><span style="color: #800000;">"</span><span style="color: #800000;">爱你一万年！！！</span><span style="color: #800000;">"</span><span style="color: #000000;">,
            setId:</span><span style="color: #0000ff;">null</span><span style="color: #000000;">
        },
        methods:{
            love(){
                </span><span style="color: #0000ff;">if</span>(<span style="color: #0000ff;">this</span>.setId != <span style="color: #0000ff;">null</span><span style="color: #000000;">){
                    </span><span style="color: #0000ff;">return</span> <span style="color: #0000ff;">false</span><span style="color: #000000;">;
                }
                </span><span style="color: #0000ff;">this</span>.setId = setInterval(() =&gt;<span style="color: #000000;"> {
                    </span><span style="color: #0000ff;">var</span> str = <span style="color: #0000ff;">this</span>.msg.substring(<span style="color: #800080;">0</span>,<span style="color: #800080;">1</span><span style="color: #000000;">);
                    </span><span style="color: #0000ff;">var</span> str2 = <span style="color: #0000ff;">this</span>.msg.substring(<span style="color: #800080;">1</span><span style="color: #000000;">);
                    </span><span style="color: #0000ff;">this</span>.msg = str2 +<span style="color: #000000;"> str;
                }, </span><span style="color: #800080;">200</span><span style="color: #000000;">) 
            },
            anlove(){
                clearInterval(</span><span style="color: #0000ff;">this</span><span style="color: #000000;">.setId);
                </span><span style="color: #0000ff;">this</span>.setId = <span style="color: #0000ff;">null</span><span style="color: #000000;">;
            }
        }
    })
</span>&lt;/script&gt;</pre>
</div>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><br />    <strong><span style="font-size: 18px;">v-for：</span></strong>如果用v-for迭代数字的话，前面的count值从1开始<br />            　　&lt;p v-for = "count in 10"&gt;这是第{{ count }} 次循环&lt;/p&gt;</p>
<div class="cnblogs_code">
<pre><code>&lt;!DOCTYPE html&gt;
&lt;html lang=<span style="color: #800000;">"</span><span style="color: #800000;">en</span><span style="color: #800000;">"</span>&gt;
    &lt;head&gt;
        &lt;meta charset=<span style="color: #800000;">"</span><span style="color: #800000;">utf-8</span><span style="color: #800000;">"</span>&gt;
        &lt;title&gt;添加删除&lt;/title&gt;
        &lt;script src=<span style="color: #800000;">"</span><span style="color: #800000;">https://cdn.jsdelivr.net/npm/vue</span><span style="color: #800000;">"</span>&gt;&lt;/script&gt;
        &lt;style type=<span style="color: #800000;">"</span><span style="color: #800000;">text/css</span><span style="color: #800000;">"</span>&gt;
        *{padding:<span style="color: #800080;">0</span>;margin:<span style="color: #800080;">0</span>;border:<span style="color: #800080;">0</span>;-webkit-box-sizing: border-<span style="color: #000000;">box;
           </span>-moz-box-sizing: border-<span style="color: #000000;">box;
                box</span>-sizing: border-<span style="color: #000000;">box;}
        .add{padding:50px;}
        .add input{width:100px;border:1px #eee solid;height:40px;line</span>-height:40px;text-<span style="color: #000000;">align: center;}
        .biao{width:500px;margin</span>-<span style="color: #000000;">left:50px;}
            .biao ul li{overflow: hidden;border:1px #eee solid;line</span>-<span style="color: #000000;">height: 40px;}
            .biao ul li</span>+li{border-<span style="color: #000000;">top:none;}
            .biao ul li span{</span><span style="color: #0000ff;">float</span>: left;width:<span style="color: #800080;">33.33</span>%;text-<span style="color: #000000;">align: center;cursor:pointer;}
            .biao ul li span</span>+span{border-<span style="color: #000000;">left:1px #eee solid;}
        </span>&lt;/style&gt;
    &lt;/head&gt;
    &lt;body&gt;
        &lt;div id=<span style="color: #800000;">"</span><span style="color: #800000;">app</span><span style="color: #800000;">"</span>&gt;
            &lt;div <span style="color: #0000ff;">class</span>=<span style="color: #800000;">"</span><span style="color: #800000;">add</span><span style="color: #800000;">"</span>&gt;
                &lt;input type=<span style="color: #800000;">"</span><span style="color: #800000;">text</span><span style="color: #800000;">"</span> v-model=<span style="color: #800000;">"</span><span style="color: #800000;">id</span><span style="color: #800000;">"</span>/&gt;
                &lt;input type=<span style="color: #800000;">"</span><span style="color: #800000;">text</span><span style="color: #800000;">"</span> v-model=<span style="color: #800000;">"</span><span style="color: #800000;">name</span><span style="color: #800000;">"</span>/&gt;
                &lt;input type=<span style="color: #800000;">"</span><span style="color: #800000;">button</span><span style="color: #800000;">"</span> value=<span style="color: #800000;">"</span><span style="color: #800000;">添加</span><span style="color: #800000;">"</span> @click=<span style="color: #800000;">"</span><span style="color: #800000;">add</span><span style="color: #800000;">"</span>/&gt;
            &lt;/div&gt;
            &lt;div <span style="color: #0000ff;">class</span>=<span style="color: #800000;">"</span><span style="color: #800000;">biao</span><span style="color: #800000;">"</span>&gt;
                &lt;ul&gt;
                    &lt;li v-<span style="color: #0000ff;">for</span>=<span style="color: #800000;">"</span><span style="color: #800000;">item in list</span><span style="color: #800000;">"</span> :key=<span style="color: #800000;">"</span><span style="color: #800000;">item.id</span><span style="color: #800000;">"</span>&gt;
                        &lt;span&gt;{{item.id}}&lt;/span&gt;
                        &lt;span&gt;{{item.name}}&lt;/span&gt;
                        &lt;span @click=<span style="color: #800000;">"</span><span style="color: #800000;">del(item.id)</span><span style="color: #800000;">"</span>&gt;删除&lt;/span&gt;
                    &lt;/li&gt;
                &lt;/ul&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/body&gt;
&lt;/html&gt;
&lt;script type=<span style="color: #800000;">"</span><span style="color: #800000;">text/javascript</span><span style="color: #800000;">"</span>&gt;
    <span style="color: #0000ff;">var</span> Vue = <span style="color: #0000ff;">new</span><span style="color: #000000;"> Vue({
        el:</span><span style="color: #800000;">"</span><span style="color: #800000;">#app</span><span style="color: #800000;">"</span><span style="color: #000000;">,
        data:{
            id:</span><span style="color: #800000;">""</span><span style="color: #000000;">,
            name:</span><span style="color: #800000;">""</span><span style="color: #000000;">,
            list:[
                {id: </span><span style="color: #800080;">1</span>, name: <span style="color: #800000;">'</span><span style="color: #800000;">天籁</span><span style="color: #800000;">'</span><span style="color: #000000;"> },
                {id: </span><span style="color: #800080;">2</span>, name: <span style="color: #800000;">'</span><span style="color: #800000;">雅阁</span><span style="color: #800000;">'</span><span style="color: #000000;"> },
                {id: </span><span style="color: #800080;">3</span>, name: <span style="color: #800000;">'</span><span style="color: #800000;">帕萨特</span><span style="color: #800000;">'</span><span style="color: #000000;">}
            ]
        },
        methods:{
            add(){
                </span><span style="color: #0000ff;">var</span> arr = {id:<span style="color: #0000ff;">this</span>.id,name:<span style="color: #0000ff;">this</span><span style="color: #000000;">.name}
                </span><span style="color: #0000ff;">this</span><span style="color: #000000;">.list.push(arr);
            },
            del(id){
                </span><span style="color: #008000;">//</span><span style="color: #008000;"> console.log("aa");</span>
                <span style="color: #0000ff;">this</span>.list.some((item,i)=&gt;<span style="color: #000000;">{
                    </span><span style="color: #0000ff;">if</span>(item.id ==<span style="color: #000000;"> id){
                        </span><span style="color: #0000ff;">this</span>.list.splice(i,<span style="color: #800080;">1</span><span style="color: #000000;">);
                    }
                    </span><span style="color: #0000ff;">return</span> <span style="color: #0000ff;">true</span><span style="color: #000000;">;
                })
            }
        }
    })
</span>&lt;/script&gt;</pre>
</div>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><strong><span style="font-size: 16px;">组件化实例</span></strong><br />    　　&lt;div id="app"&gt;<br />      　　　　&lt;app-nav&gt;&lt;/app-nav&gt;<br />      　　　　&lt;app-view&gt;<br />        　　　　　　&lt;app-sidebar&gt;&lt;/app-sidebar&gt;<br />        　　　　　　&lt;app-content&gt;&lt;/app-content&gt;<br />      　　　　&lt;/app-view&gt;<br />    　　&lt;/div&gt;</p>
<p>&nbsp;</p>
<p><strong>在子组件中定义data ，data必须是个函数而不能是个对象</strong><br />data：function(){<br />    　　return {<br />        　　　　content: "xiaozhong"<br />    　　}<br />}</p>
<p>&nbsp;</p>
<p><strong>在vue中我们可以通过ref="zjz"获取DOM节点&nbsp; this.$refs.zjz.&nbsp; &nbsp; &nbsp; ，进而来操作DOM</strong></p>
<p><strong>vue中单向数据流概念：</strong>子组件中只能使用父组件中传过来的值，而不能更改，如需更改需克隆一份修改父组件通过属性的方式向子组件传值，子组件通过事件触发的方式向父组件传值</p>
<p><strong>vue组件的属性使用和不使用冒号的区别：</strong>加冒号的，说明后面的是一个变量或者表达式；没加冒号的后面就是对应的字符串字面量！</p>
<p><strong>非父子组件间的传值：</strong>{<br />    　　1.vuex<br />    　　2.发布订阅模式---总线机制---Bus---观察者模式   not_father_son.html<br />}</p>
<p><strong>插槽(slot)：</strong>具名插槽，作用域插槽</p>
<p>&nbsp;</p>
<p><strong>使用animate.css ：</strong>只要在需要动画的标签外的transition标签里添加对应属性，比如enter-active-class=&ldquo;animated swing&rdquo;，leave-active-class=&ldquo;animated shake&rdquo;即可</p>
<p><strong>js动画效果：</strong>注意事件函数中所传递的参数及某些事件函数返回的函数<br />　　1. 进入动画钩子：before-enter; enter; after-enter<br />　　2. 离开动画钩子：before-leave; leave; after-leave<br />　　3. 在enter钩子中的函数调用done()告诉VUE js动画完成<br />　　4. 使用velocity.js动画库实现动画：Velocity（el，{样式属性}，{duration:1000，complete：done}）<br />　　5. 中文文档：http://www.mrfront.com/docs/velocity.js/index.html</p>
<p>&nbsp;</p>
</div>
</div><hr><script charset='utf-8' src='../../js/sming.js'></script></body></html>